extends adminLayout

block content
        // content division
        #contentDiv
            table.infoPage
                caption #{name}
                col.info
                col.info
                - var input = params;
                each val, index in input
                    tr
                        td= index
                        td= val

