doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Results
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/jquery-ui.css')
        style.
            #contentDiv {
                z-index: 10 !important;
            }

            h2 {
                font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
                font-size: 30px;
                text-align: center;
                color: purple;
            }
        script(src = '/js/jquery.js')
        script(src = '/js/jquery-ui.js')
        script(src = '/js/onload.js')
        script(src = 'https://www.gstatic.com/charts/loader.js')
        script.
            var input = !{JSON.stringify(params).replace(/<\//g, '<\\/')};
            drawMap();
            drawSATChart();
            drawTable();

            function drawMap() {
                google.charts.load('current', {'packages': ['geochart']});
                google.charts.setOnLoadCallback(function () {
                    var data = google.visualization.arrayToDataTable([
                        ['State'],
                        [input['state']],
                    ]);
                    var options = {
                        region: 'US',
                        displayMode: 'regions',
                        resolution: 'provinces',
                        height: 350,
                        width: 500
                    };
                    var chart = new google.visualization.GeoChart(document.getElementById('mapDiv'));
                    chart.draw(data, options);
                });
            }

            function drawSATChart() {
                google.charts.load('current', {'packages': ['bar']});
                google.charts.setOnLoadCallback(function () {
                    var data = google.visualization.arrayToDataTable([
                        ['University Name', 'Math', 'Verbal'],
                        [input['name'], input['sat_math'], input['sat_verbal']],
                    ]);
                    var options = {
                        chart: {
                            title: 'Required SAT scores',
                        },
                        bars: 'vertical',
                        height: 280,
                        width: 580,
                        vAxis: {format: 'decimal'},
                        colors: ['#88B972', '#2B4520'],
                        backgroundColor: {
                            fill: '#EEEEEE',
                            fillOpacity: 0.7
                        }
                    };
                    var chart = new google.charts.Bar(document.getElementById('satDiv'));
                    chart.draw(data, google.charts.Bar.convertOptions(options));
                });
            }

    body(background='/img/background.jpeg')
        // title division
        #titleDiv
            h1 The Statistics of University and College
        // navigator division
        #navigatorDiv
            ul
                li
                    a(href='/home') Home
                li
                    a(href='/overview_menu.html' class='menuLink') Overview
                        b
                    div(class='menu' id = 'overview_menu')
                        a(href='/overview') Undergrad
                        a(href='/overview') Graduate
                li
                    a(href='/major.html' class='menuLink') Popular Majors
                        b
                    div(class='menu' id = 'major')
                        a Computer
                        a Communications
                        a Political Science
                        a Business
                        a Biology
                        a More...
                li
                    a News
                li
                    a Contact
                li
                    a(href='/dashboard') DashBoard
                li(style='float:right')
                    a.navigatorBar(href='/logout') Logout

        h2 #{name}

        // content division
        #contentDiv
            #mapDiv
            #satDiv

        form(action="/moreUniversityInfo" method="post")
            input(type='hidden' value=name name="schoolName")
            input(type="submit" value='More Details')
