extends layout

block content

    h1 San Jose State University Info
    form
        p LOCATION: San Jose, CA    MALE:FEMALE RATIO:50:50   EXPENSES THOUS$:4-
        p NO-APPLICANTS THOUS:4-7    PERCENT-ADMITTANCE 60  PERCENT-ENROLLED 50
        p ACADEMICS SCALE:1-5 4
        p ACADEMIC-EMPHASIS ARCHITECTURE, ENGINEERING, PUBLIC-AFFAIRS-AND-SERVICES, LIBERAL-ARTS