doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Results
        link(rel='stylesheet', href='/css/style.css')
    body(background='/img/background.jpeg')
        // titleDiv
        #titleDiv
            h1 The Statistics of University and College
        // navigatorDiv
        #navigatorDiv
            a.navigator(href='/') Home
        // bodyDiv
        #bodyDiv
            - var droids = params;
            each val, index in droids
                ul
                    p= index + ": " + val

        // footer
        footer#footer
            p#copyright © 2019 Goofy