doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Results
        link(rel='stylesheet', href='/css/style.css')
        script(src = '/js/menu.js')
    body(background='/img/background.jpeg')
        // title division
        #titleDiv
            h1 The Statistics of University and College
        // navigator division
        #navigatorDiv

            ul
                li
                    a(href='/protected') Home
                li
                    a(href='overview.html' class="menuLink") Overview
                    div(class='menu' id = 'overview')
                        a Undergrad
                        a Graduate
                li
                    a News
                li
                    a Contact
                li(style='float:right')
                    a.navigatorBar(href='/logout') Logout

        // content division
        #contentDiv
            table.info
                caption #{name}
                col(width='50%')
                col(width='50%')
                - var droids = params;
                each val, index in droids
                    tr
                        td= index
                        td= val
        // footer division
        #footerDiv
            footer
                p © 2019 Goofy

