/* id */
#titleDiv {
  width: 100%;
  height: 50px;
}

#navigatorDiv {
  width: 100%;
  height: 50px;
  background-color: black;
}

#bodyDiv {
  width: 100%;
}

#footer {
  clear: both;
  border: 1px groove #aaaaaa;
  background: black;
  color: White;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  margin: 0;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

#copyright {
  font-size: 15px;
  color: white;
}

/* class */
.navigator {
  font-size: 30px;
  color: white;
}

/* form */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
